{% extends "layouts.html" %}
{% block content %}
    <div class=".container">
        <div class="text-center">
          <div class="jumbotron" style="padding: 2em;">
            <div class="col-12">
                <h1 class="display-4">Why AnchorHouse</h1>
            </div>
          </div>
        </div>
        <div class="col-12 text-center">
            <p class="lead mx-auto" style="width: 70%;">
                If you want a service that makes you feel like you never left home, then Anchor House, LLC. is the right place for you. With over a decade of In-home, health care experience, we provide a service like no other. 
            </p>
        </div>
    </div>
    <div class=".container">
        <div class="text-center">
          <div class="jumbotron" style="padding: 2em;">
            <div class="col-12">
                <h1 class="display-4">Mission Statement</h1>
            </div>
          </div>
        </div>
        <div class="col-12 text-center">
            <p class="lead mx-auto text-wrap" style="width: 70%;">
                We believe that home health care services are an essential part of the health care delivery system. By providing continuing care to clients in their own homes, home health services minimize the effects of illness, accident, or disability and cost.
                <br><br>
                Anchor House recognizes the worth of all persons, including the elderly or those with disabilities. We believe the contributions of these persons are no less important than the contributions of other members of our society. We are dedicated to helping these persons retain or regain their maximum participation in society.
                <br><br>
                We recognize that the aging process is an unavoidable part of life. We understand chronic disease and disability may be part of that process.
                <br><br>
                Person-Centered Planning - In providing care to our clients, Anchor House recognizes that clients and their families have certain rights to self-determination. They have the right to participate in the planning of their care, to make decisions about their health care, and to maintain their independence as long as possible.
                <br><br>
                Health education is an integral part of Anchor House’s program.
                <br><br>
                Anchor House recognizes that the behavior, attitudes, knowledge, and understanding of our staff have an important influence on helping clients attain and maintain their health.
                <br><br>
                Therefore, we are committed to the rehabilitation of aged, diseased, and/or disabled individuals within their home environment, allowing maximum contribution, retention of self-respect, and independence.
                <br><br>
                When rehabilitation or recovery is not realistic, we commit to providing dying individuals with appropriate care and coordinated services, supporting their dignity and self-respect.
            </p>
        </div>
    </div>
    <div class=".container-fluid">
      <div class="row">
        <div class="jumbotron text-center col-6">
            <div class="col-12">
                <h1 class="display-4">Goals</h1>
            </div>
        </div>
        <div class="jumbotron text-center col-6">
          <div class="col-12">
              <h1 class="display-4">Objectives</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <ul class="list-group list-group-flush col-6">
        <li class="list-group-item">To provide all levels of home care service in collaboration with client's physicians and other members of the health care team, allowing clients to remain in their own homes.</li>
        <li class="list-group-item">To provide a broad base of services based on our clients’ needs, involving clients in establishing, implementing, and evaluating services.</li>
        <li class="list-group-item">To maintain clients in their homes as long as possible by providing nursing care and related health services.</li>
        <li class="list-group-item">To assist clients in using all restorative methods, tools, and procedures to return to their normal pattern of living as soon as possible.</li>
        <li class="list-group-item">To provide cost-competitive, quality service.</li>
        <li class="list-group-item">To develop a relationship with referral sources to effectively meet the home care needs of clients.</li>
        <li class="list-group-item">To serve as a link between clients and available community resources.</li>
      </ul>
      <ul class="list-group list-group-flush col-6">
        <li class="list-group-item">To provide a coordinated team approach to Long term care, therapeutic and rehabilitative health care</li>
        <li class="list-group-item">To provide home health care services and training that allow clients and their caregivers to assume personal responsibility for the client’s health and personal needs.</li>
        <li class="list-group-item"> To provide a review vehicle for continuous examination of the care a client is receiving from the agency.</li>
        <li class="list-group-item">To provide educational opportunities within the health care system for employees through an ongoing in-service program, and participation in professional organizations.</li>
        <li class="list-group-item">To provide coordinated liaison with health and social services or human services agencies to meet the needs of the community through joint efforts, meetings, and community awareness programs.</li>
        <li class="list-group-item">To provide a physical work environment favorable to maximum employee performance.</li>
      </ul>
    </div>
    <div class=".container-fluid">
        <div class="jumbotron text-center" style="padding: 1em;">
            <div class="col-12">
                <p class="lead">Certifications
                  Minnesota Department of Health Comprehensive License
                  <br><br>
                  Minnesota Department of Human Services 245 D License
                </p>
            </div>
        </div>
    </div>
{% endblock content%}