{% extends "layouts.html" %}
{% block content %}

<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Nursing / RN</h5>
          <p class="card-text">The Registered Nurse plans, organizes and directs home care services and is experienced in nursing. The professional nurse builds from the resources of the community to plan and direct services to meet the needs of individual and families within their homes and communities.</p>
          <a href="#" class="btn btn-primary">Apply Now!</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Licensed Practical Nurse (LPN)</h5>
          <p class="card-text">Licensed practical nurses (LPN's) fill an important role in modern healthcare practices. Their primary job duty is to provide routine care, observe patients’ health, assist doctors and registered nurses, and communicate instructions to patients regarding medication, home-based care, and preventative lifestyle changes.</p>
          <a href="#" class="btn btn-primary">Apply Now!</a>
        </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Home Health Aid (HHA)</h5>
                <p class="card-text">Home Health Aides provide routine individualized healthcare similar to the Personal Care Aides mentioned above; however, the home health aide has received state-approved advanced training so they are able to recognize any undesirable signs and symptoms in patients and report them immediately.</p>
                <a href="#" class="btn btn-primary">Apply Now!</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Personal Care Assistant </h5>
                <p class="card-text">Personal care assistants, also known as caregivers, home health or personal care aides, give assistance to people who are sick, injured, mentally or physically disabled, or the elderly and fragile. They work in the home and help their clients with daily activities, such as bathing and bathroom functions, feeding, grooming, taking medication, and some housework. PCA's help clients make and keep appointments with doctors, provide or arrange transportation, make and serve meals, make sure they take their medicine and serve as a companion for their clients.</p>
                <a href="#" class="btn btn-primary">Apply Now!</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}