{% extends "layouts.html"%}
{% block content %}
<div class=".container">
  <div class="text-center">
    <div class="jumbotron" style="padding: 2em;">
      <div class="col-12">
        <h1 class="display-4">Basic Support Services</h1>
      </div>
    </div>
  </div>
  <div class="col-12 text-center">
    <p class="lead mx-auto" style="width: 70%;">
      AnchorHouse LLC offers a range of essential support services to help clients live comfortably and safely in
      their own homes. These services include 24-hour emergency assistance and adult companion services for
      personalized care, as well as homemaker services for household support. The company also provides night
      supervision and respite care, ensuring clients and their families receive the assistance they need when they
      need it most.
    </p>
  </div>
  <hr class="my-4">
  <div class="container-fluid" style="width: 70%;">
    <h2 class="nav-brand">Our Services Include</h2>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">24-hour emergency assistance</li>
      <li class="list-group-item">Adult companion services</li>
      <li class="list-group-item">Homemaker</li>
      <li class="list-group-item">Individual community living support</li>
      <li class="list-group-item">Individualized home support</li>
      <li class="list-group-item">Night supervision</li>
      <li class="list-group-item">Personal support</li>
      <li class="list-group-item">Respite care, in home or out-of-home</li>
    </ul>
  </div>
</div>
{% endblock content%}