{% extends "layouts.html"%}
{% block content %}
<div class=".container">
    <div class="text-center">
        <div class="jumbotron" style="padding: 2em;">
            <div class="col-12">
                <h1 class="display-4">Companion Services</h1>
            </div>
        </div>
    </div>
    <div class="col-12 text-center">
        <p class="lead mx-auto" style="width: 70%;">
            As you get older, trying to complete all routine daily tasks can become a challenge. Let Anchor House help. We offer both health-related and supportive services delivered in a residential setting—including assisted living communities.
        </p>
    </div>
    <hr class="my-4">
    <div class="container-fluid" style="width: 70%;">
        <h2 class="nav-brand">Our Services Include</h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Helping with personal errands</li>
            <li class="list-group-item">Washing dishes and putting them away</li>
            <li class="list-group-item">Cleaning, sweeping, mopping, vacuuming and dusting
                Changing linens and making beds</li>
            <li class="list-group-item">Doing laundry and ironing</li>
            <li class="list-group-item">Cleaning stoves, microwaves and refrigerators</li>
            <li class="list-group-item">Organizing closets and drawers</li>
            <li class="list-group-item">Emptying the trash</li>
            <li class="list-group-item">Grocery shopping</li>
            <li class="list-group-item">Assisting with pet care</li>
            <li class="list-group-item">Watering and caring for houseplants</li>
            <li class="list-group-item">Planning meals, shopping for ingredients and preparing future meals</li>
          </ul>
    </div>
</div>
{% endblock content%}