{% extends "layouts.html"%}
{% block content %}
<div class=".container">
  <div class="text-center">
    <div class="jumbotron" style="padding: 2em;">
      <div class="col-12">
        <h1 class="display-4">Employment Services</h1>
      </div>
    </div>
  </div>
  <div class="col-12 text-center">
    <p class="lead mx-auto" style="width: 70%;">
      AnchorHouse LLC offers comprehensive employment services to empower individuals with the skills and support needed
      for career success. From employment development and exploration to ongoing support, the company guides clients in
      finding and maintaining meaningful work opportunities. By fostering independence and personal growth, these
      services help clients thrive both in the workplace and beyond.
    </p>
  </div>
  <hr class="my-4">
  <div class="container-fluid" style="width: 70%;">
    <h2 class="nav-brand">Our Services Include</h2>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Employment development services</li>
      <li class="list-group-item">Employment exploration services</li>
      <li class="list-group-item">Employment support services</li>
    </ul>
  </div>
</div>
{% endblock content%}