{% extends "layouts.html" %}
{% block content %}
<div class=".container">
    <div class="text-center">
        <div class="jumbotron" style="padding: 2em;">
            <div class="col-12">
                <h1 class="display-4">Homemaker Services</h1>
            </div>
        </div>
    </div>
    <div class="col-12 text-center">
        <p class="lead mx-auto" style="width: 70%;">
            As your loved ones age, many seemingly simple daily household activities and chores become significantly more difficult. Homemaker care ensures food stays fresh, obstacles that can cause falls are eliminated, and clean clothes are always available. With regard to in home care for the elderly, help often just means a second hand helping with the daily tasks. Senior homemaking care can also be a great relief to family members who find themselves balancing time to keep their own home comfortable.
        </p>
    </div>
    <hr class="my-4">
    <div class="container-fluid" style="width: 70%;">
        <h2 class="nav-brand">Our Services Include</h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Vacuuming
            </li>
            <li class="list-group-item">Dusting
            </li>
            <li class="list-group-item">Sweeping or mopping floors</li>
            <li class="list-group-item">Doing dishes</li>
            <li class="list-group-item">Changing bed linens</li>
            <li class="list-group-item">Doing laundry</li>
            <li class="list-group-item">Cleaning bathrooms</li>
            <li class="list-group-item">Prepares meals and snacks according to instructions</li>
            <li class="list-group-item">May shop for groceries</li>
            <li class="list-group-item">Provides companionship for the client</li>
            <li class="list-group-item">This includes accompanying client on walks</li>
            <li class="list-group-item">Trips to social/recreational activities</li>
            <li class="list-group-item">Assistance with hobbies</li>
          </ul>
    </div>
</div>
{% endblock content%}