{% extends "layouts.html"%}
{% block content %}
<div class=".container">
  <div class="text-center">
    <div class="jumbotron" style="padding: 2em;">
      <div class="col-12">
        <h1 class="display-4">In-Home Support Services</h1>
      </div>
    </div>
  </div>
  <div class="col-12 text-center">
    <p class="lead mx-auto" style="width: 70%;">
      AnchorHouse's in-home support services are designed to empower clients to lead fulfilling lives in the comfort
      of their own homes. These services encompass personalized assistance with daily activities, independent living
      skills training, and support for adults in a semi-independent living setting. With a focus on individualized care,
      the company ensures each client receives the support they need to maintain their autonomy and well-being.
    </p>
  </div>
  <hr class="my-4">
  <div class="container-fluid" style="width: 70%;">
    <h2 class="nav-brand">Our Services Include</h2>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">In-home family support</li>
      <li class="list-group-item">Independent living skills training</li>
      <li class="list-group-item">Individualized home support</li>
      <li class="list-group-item">Individualized home support
        with family training</li>
      <li class="list-group-item">Individualized home support with training</li>
      <li class="list-group-item">Semi-independent living skills</li>
      <li class="list-group-item">Supported living
        services for adults</li>
    </ul>
  </div>
</div>
{% endblock content%}