{% extends "layouts.html"%}
{% block content %}
<div class="text-center">
  <div class="jumbotron" style="padding: 2em;">
      <div class="col-12">
          <h1 class="display-4">Resources</h1>
      </div>
  </div>
</div>
<div class="container row mx-auto">
  <div class="card col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10"" style="width: 18rem;">
    <img class="card-img-top" src="https://imageprocessor.digital.vistaprint.com/crop/0,14,566x256/maxWidth/1000/http://uploads.documents.cimpress.io/v1/uploads/fcd64f35-4de7-4fc6-aa57-bb31940a19b5~110/original?tenant=vbu-digital" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Minnesota Department of Health</h5>
      <a href="#" class="btn btn-primary">Learn More</a>
    </div>
  </div>
  <div class="card col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10"" style="width: 18rem;">
    <img class="card-img-top" src="https://imageprocessor.digital.vistaprint.com/crop/0,0,1024x456/maxWidth/1000/http://uploads.documents.cimpress.io/v1/uploads/0a6ce919-44b4-4893-9fed-4c55cf5a6969~110/original?tenant=vbu-digital" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Minnesota Deportment of Human Services</h5>
      <a href="#" class="btn btn-primary">Learn More</a>
    </div>
  </div>
  <div class="card col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10"" style="width: 18rem;">
    <img class="card-img-top" src="https://imageprocessor.digital.vistaprint.com/crop/0,14,566x256/maxWidth/1000/http://uploads.documents.cimpress.io/v1/uploads/fcd64f35-4de7-4fc6-aa57-bb31940a19b5~110/original?tenant=vbu-digital" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Health and Wellness</h5>
      <a href="http://www.health.state.mn.us/" class="btn btn-primary">Learn More</a>
    </div>
  </div>
</div>
{% endblock content %}