{% extends "layouts.html"%}
{% block content%}
<div class=".container">
    <div class="text-center">
        <div class="jumbotron" style="padding: 2em;">
            <div class="col-12">
                <h1 class="display-4">Private Duty Nursing Services</h1>
            </div>
        </div>
    </div>
    <div class="col-12 text-center">
        <p class="lead mx-auto" style="width: 70%;">
            Anchor House, LLC is an innovative, primary care practice delivering PDN on-site care to patients living in assisted living and people with disabilities in both residential and community settings. Our care model consisting of a team approach, regular visits and proactive care, reduces medical costs and patient stress. Anchor House has proven that personal engagement, quality of care and exceptional service results in high patient and staff satisfaction. We can work with Clients's Physicians too.
        </p>
    </div>
    <hr class="my-4">
    <div class="container-fluid" style="width: 70%;">
        <h2 class="nav-brand">Our Services Include</h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Home management tasks including housekeeping, laundry, shopping and errands
            </li>
            <li class="list-group-item">Prepare and serve simple modified diets according to instruction and assist with feeding as necessary
            </li>
            <li class="list-group-item">Assist with bathing, dressing and grooming</li>
            <li class="list-group-item">Assist with toileting, including use of bedpan, commode or toilet</li>
            <li class="list-group-item">Assist self-directing consumers with transfers and ambulation including use of cane, walker, and wheelchair</li>
            <li class="list-group-item">Assist self-directing consumers with medication reminders or refilling the consumer’s prescription at the local pharmacy as specified on plan of care</li>
            <li class="list-group-item">Provide routine skin care. May assist self-directing consumers in applying nonprescription topical medications to skin surface</li>
            <li class="list-group-item">Assist self-directing consumers in reminding them of their home maintenance exercise programs</li>
            <li class="list-group-item">Assist the self-directing consumer with reminders on changing the tubing or refilling a tank in the use of their oxygen equipment</li>
          </ul>
    </div>
</div>
{% endblock content %}