{% extends "layouts.html" %}
{% block content %}
<div class=".container">
    <div class="text-center">
        <div class="jumbotron" style="padding: 2em;">
            <div class="col-12">
                <h1 class="display-4">Supported Living Services</h1>
            </div>
        </div>
    </div>
    <div class="col-12 text-center">
        <p class="lead mx-auto" style="width: 70%;">
            Our Supported Living Services program’s primary purpose is to support consumers as they develop to their fullest potential. Each of our homes is designed to fit the needs of the individual consumer and promote increased independence. We do this by modifying the home environment including adaptive equipment as necessary.
        </p>
    </div>
    <hr class="my-4">
    <div class="container-fluid" style="width: 70%;">
        <h2 class="nav-brand">Our Services Include</h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Assist residents with activities of daily living such as toileting, bathing and dressing</li>
            <li class="list-group-item">Cook and serve meals according to each resident’s nutritional needs</li>
            <li class="list-group-item">Observe residents’ conditions and report any significant changes to healthcare professionals</li>
            <li class="list-group-item">Take and record vitals</li>
            <li class="list-group-item">Ensure that food intake information is maintained</li>
            <li class="list-group-item">Supervise exercise programs</li>
            <li class="list-group-item">Change dressings if required</li>
            <li class="list-group-item">Assist residents with walking and moving in and out of bed</li>
            <li class="list-group-item">Assist with mobility and range of motion</li>
            <li class="list-group-item">Clean rooms and other common areas around the facility</li>
            <li class="list-group-item">Change linen and ensure that any soiled linen is transported to the laundry room immediately</li>
            <li class="list-group-item">Administer medication as per the health chart provided by healthcare professional</li>
          </ul>
    </div>
</div>
{% endblock content %}